<div class="loginPage">
  <div class="connectionForm" [formGroup]="loginForm">
    <input type="text" placeholder="Username" [formControlName]="'username'">
    <input type="password" placeholder="Password" [formControlName]="'password'">
    <button class="connectionButton" (click)="authenticate()">Connection</button>
  </div>
  <div class="jwtToken">
    Your JWT access token:
    <br/><br/>
    <div *ngIf="jwtAccessToken$ | async as jwtAccessToken$; else noToken">
      <b>{{jwtAccessToken$}}</b>
      <div>
        <button class="testTokenButton" (click)="testToken()">Test token</button>
      </div>
    </div>
    <ng-template #noToken>No access token</ng-template>
  </div>
  <div *ngIf="infoMessage" class="infoMessage">
    {{infoMessage}}
  </div>
  <div *ngIf="errorMessage" class="errorMessage">
    {{errorMessage}}
  </div>
</div>
